(
    // default color theme
    background: "light",

    // colors: White, Black, Red, Green, Blue, Magenta, Cyan, Yello, Gray, DarkGray
    // LightRed, LightGeen, LightBlue, LightMagenta, LightCyan, LightYellow, Rgb(r,g,b)
    user_colors: SettingColors (
        background: Black,
        header: Magenta, // file name, permission, size, date
        boader: White, // frame line
        directory: Blue, // dir font
        file_item: White, // file font
        select: Green, // selecting hightlinght
        command: White,
    ),
    symbols: SettingSymbols (
        file: " ",
        directory: "▶",
        select: ">>"
    ),
    user_keybinds: UserKeybinds (
        keybinds: {
            "move_to_parent_dir": "h",
            "move_to_next_file_irem": "j",
            "move_to_prev_file_item": "k",
            "move_to_child_dir": "l",
            "quit": "q",
        }
    )
)