(
    // colors: White, Black, Red, Green, Blue, Magenta, Cyan, Yello, Gray, DarkGray
    // LightRed, LightGreen, LightBlue, LightMagenta, LightCyan, LightYellow, Rgb(r,g,b)
    theme: SettingTheme (
        background: White,
        header: Magenta, // file name, permission, size, date
        boarder: Black, // frame line
        directory: Blue, // dir font
        file_item: Black, // file font
        select: Green, // selecting hightlight
        warning_background: Rgb(233, 163, 38), // orange
        warning_foreground: White,
        error_background: Rgb(233, 40, 30), // Red
        error_foreground: White,
                error: LightRed,
        command: [
            // bg, font
            (White, Black), // normal
            (White, Green), // imput
            (White,  Blue), // stacker
            (White,  Red), // searcher
            ],
    ),
    user_settings: Settings (
        editor: "nvim",
        show_hidden_files: true,
    ),
    symbols: {
        File: " ",
        Directory: "▶",
        Select: ">>"
    },
    additional_directories: [
        "Documents",
        "Downloads",
        "Desktop"
    ],
    user_keybindings: ModeKeybindings (
        normal : {
            "q" : "quit",
            "S-i": "input",
            "S-v": "stacker",

            "h": "move_to_parent_dir",
            "j": "move_to_next_file_item",
            "k": "move_to_prev_file_item",
            "l": "move_to_child_dir",
            "g g": "move_to_top_of_file_item",
            "S-g": "move_to_bottom_of_file_item",
            "tab": "next_dirtab",
            "S-tab": "prev_dirtab",
            "/": "search_file_items",
        },
        input: {
            "q q" : "quit",
            "esc": "normal",
            "S-v": "stacker",

            "h": "move_to_parent_dir",
            "j": "move_to_next_file_item",
            "k": "move_to_prev_file_item",
            "l": "move_to_child_dir",
            "tab": "next_dirtab",
            "S-tab": "prev_dirtab",

            "m": "make_directory",
            "i": "make_file",
            "enter": "edit",
        },
        stacker: {
            "q q" : "quit",
            "S-i": "input",
            "esc": "normal",

            "h":    "move_to_parent_dir",
            "j":    "move_to_next_file_item",
            "k":    "move_to_prev_file_item",
            "l":    "move_to_child_dir",
            "tab":  "next_dirtab",
            "S-tab": "prev_dirtab",

            "C-n": "stacker_next_file_item",
            "C-p": "stacker_prev_file_item",

            "s":   "stacker_toggle_select",
            "u":   "stacker_pop",
            "C-s": "stacker_select_all_recursively",
            "C-a": "stacker_select_all",
            "p":   "stacker_paste",
            "S-p": "stacker_stacking_paste",
            "m":   "stacker_move",
            "d d":   "stacker_delete", // use carefully, delete completely
            "S-d S-d": "stacker_delete_all", // use carefully, delete completetly
        },
        searcher: {
            "j": "searcher_next_file_item",
            "k": "searcher_prev_file_item",
            "l": "searcher_move_to_child_dir",
            "C-a": "searcher_select_all",
            "esc": "normal",
        }
    )
)